<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <context-param>
        <param-name>url-database</param-name>
        <param-value>localhost:3306/DB_BLOG</param-value>
    </context-param>
    <listener>
        <listener-class>com.sduhyd.blog.others.ApplicationListener</listener-class>
    </listener>
    <listener>
        <listener-class>com.sduhyd.blog.others.SessionListener</listener-class>
    </listener>
    <session-config>
        <session-timeout>15</session-timeout>
    </session-config>
    <servlet>
        <servlet-name>InitServlet</servlet-name>
        <servlet-class>com.sduhyd.blog.controller.initpageabout.InitServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InitServlet</servlet-name>
        <url-pattern>/InitServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>BlogMainPageServlet</servlet-name>
        <servlet-class>com.sduhyd.blog.controller.initpageabout.BlogMainPageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BlogMainPageServlet</servlet-name>
        <url-pattern>/mainpage</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>EssaySinglePageServlet</servlet-name>
        <servlet-class>com.sduhyd.blog.controller.initpageabout.EssaySinglePageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EssaySinglePageServlet</servlet-name>
        <url-pattern>/essaypage</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>NullUserServlet</servlet-name>
        <servlet-class>com.sduhyd.blog.controller.initpageabout.NullUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NullUserServlet</servlet-name>
        <url-pattern>/nulluserpage</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.sduhyd.blog.controller.userabout.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyFavoriteServlet</servlet-name>
        <servlet-class>com.sduhyd.blog.controller.userabout.MyFavoriteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MyFavoriteServlet</servlet-name>
        <url-pattern>/MyFavoriteServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeleteMyFavoriteServlet</servlet-name>
        <servlet-class>com.sduhyd.blog.controller.userabout.DeleteMyFavoriteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteMyFavoriteServlet</servlet-name>
        <url-pattern>/DeleteMyFavoriteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LogOutServlet</servlet-name>
        <servlet-class>com.sduhyd.blog.controller.userabout.LogOutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogOutServlet</servlet-name>
        <url-pattern>/LogOutServlet</url-pattern>
    </servlet-mapping>
   <servlet>
       <servlet-name>CreateEssayServlet</servlet-name>
       <servlet-class>com.sduhyd.blog.controller.userabout.CreateEssayServlet</servlet-class>
   </servlet>
    <servlet-mapping>
        <servlet-name>CreateEssayServlet</servlet-name>
        <url-pattern>/CreateEssayServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ShowEssayServlet</servlet-name>
        <servlet-class>com.sduhyd.blog.controller.userabout.ShowEssayServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ShowEssayServlet</servlet-name>
        <url-pattern>/ShowEssayServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>com.sduhyd.blog.controller.userabout.RegisterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UpdateEssayServlet</servlet-name>
        <servlet-class>com.sduhyd.blog.controller.userabout.UpdateEssayServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateEssayServlet</servlet-name>
        <url-pattern>/UpdateEssayServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>StarServlet</servlet-name>
        <servlet-class>com.sduhyd.blog.controller.essayabout.StarServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StarServlet</servlet-name>
        <url-pattern>/StarServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DisServlet</servlet-name>
        <servlet-class>com.sduhyd.blog.controller.essayabout.DisServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DisServlet</servlet-name>
        <url-pattern>/DisServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>FavoriteServlet</servlet-name>
        <servlet-class>com.sduhyd.blog.controller.essayabout.FavoriteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FavoriteServlet</servlet-name>
        <url-pattern>/FavoriteServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CommentServlet</servlet-name>
        <servlet-class>com.sduhyd.blog.controller.essayabout.CommentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CommentServlet</servlet-name>
        <url-pattern>/CommentServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>StarComServlet</servlet-name>
        <servlet-class>com.sduhyd.blog.controller.commentabout.StarComServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StarComServlet</servlet-name>
        <url-pattern>/StarComServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DisComServlet</servlet-name>
        <servlet-class>com.sduhyd.blog.controller.commentabout.DisComServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DisComServlet</servlet-name>
        <url-pattern>/DisComServlet</url-pattern>
    </servlet-mapping>
</web-app>